<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "profound.fyi" }}</title>
</head>
<body>
  <header><a href="/">profound.fyi</a></header>
  <main>{{ content | safe }}</main>
  <footer>© 2026 Benedict Steele.</footer>
</body>
</html>
