---
layout: layouts/base.njk
---
<article class="page">
  {% if showTitle != false %}<h1>{{ title }}</h1>{% endif %}
  {{ content | safe }}
  {% if updated %}<p class="entry-meta">Last updated {{ updated | readableDate }}</p>{% endif %}
</article>
